<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">


  <!-- the targets to write to -->
  <targets>
    <target name="asyncWrapper" xsi:type="AsyncWrapper"  overflowAction="Discard">
      <!-- archiveFileName="${var:mydir}\archives\DAL.log"   -->
      <!-- fileName="${var:mydir}\DAL.log"  -->
      <!-- fileName="C:\logs\nlogdemo.log"  -->
      <!-- archiveFileName = "C:\logs\nlogdemo-{########}.log"  
                enableArchiveFileCompression="true" -->
      <!-- write logs to file  -->
      <target xsi:type="File" name="allfile" fileName="${var:mydir}/Utility/Utility-${date:format=yyyyMMdd}.log"
               archiveFileName="${var:mydir}/Utility/Archives_Utility/Utility-{########}.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="1000"
                concurrentWrites="true"
                keepFileOpen="false"
                encoding="utf-8"
                archiveAboveSize="21085760"
                layout="${date:LocalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

  </rules>
</nlog>

